@mixin rings($duration, $delay) {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid black;
    animation-name: ripple;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.65,0,.34,1);
    z-index: -1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.ripple-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: auto;
    background: #FFFFFF;
    border: 1px solid black;
    animation: myfirst 5s infinite;
    animation-direction: alternate;

    span {
        position: relative;
        padding: 50px;
        font-size: 72px;
        top: 5px;
        left: -5px;
    }
  
    &::after {
        @include rings(3s, 0s);
    }
  
    &::before {
        @include rings(3s, 0.5s);
    }
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75,0.75,1);
    box-shadow: 0 0 0 0rem rgba(black, 0.2),
    0 0 0 1rem rgba(black, 0.2),
    0 0 0 1rem rgba(black, 0.2),
    0 0 0 1rem rgba(black, 0.2);
  }
  
  to {
    opacity: 0;
    transform: scale3d(1.5,1.5,1);
    box-shadow: 0 0 0 1rem rgba(black, 0.2),
                0 0 0 2rem rgba(black, 0.2),
                0 0 0 5rem rgba(black, 0.2),
                0 0 0 8rem rgba(black, 0);
  }
}
  
@keyframes myfirst {
    0%   {left: 0px; top: 0px;}
    25%  {left: 200px; top: 0px;}
    50%  {left: 200px; top: 200px;}
    75%  {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
}
