<div class="content">
    <div class="border-container">
        <div class="border-container">
            <div class="border-container">
                <div class="border-container">
                    <div class="border-container">
                        <div class="border-container">
                            <div class="border-container">
                                <div class="border-container">
                                    <span>Hello 👋</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>