<div class="timer-container">
    <div class="first-wrap">
        <display-count-down [timerDetails]="timerDetails" (pausedTime)="getpausedTimeDetails($event)"></display-count-down>
        <timer-controller [pausedTime]="pausedTimeDetails" (initiateTimer)="getTimerDetails($event)"></timer-controller>
    </div>
    <div class="second-wrap">
        <time-stamp-logger [timerDetails]="timerDetails"></time-stamp-logger>
        <clicks-tracker [timerDetails]="timerDetails"></clicks-tracker>  
    </div>
</div>