<div class="card-container">
    <a class="card">
        <span>Route1</span>
        <svg class="material-icons" width="24" height="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>  
    </a>
    <a class="card">
        <span>Route1</span>
        <svg class="material-icons" width="24" height="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>  
    </a> 
    <a class="card">
        <span>Route2</span>
        <svg class="material-icons" width="24" height="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>  
    </a> 
    <a class="card">
        <span>Route3</span>
        <svg class="material-icons" width="24" height="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>  
    </a> 
    <a class="card">
        <span>Route4</span>
        <svg class="material-icons" width="24" height="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>  
    </a>
    <a class="card">
        <span>Route5</span>
        <svg class="material-icons" width="24" height="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>  
    </a>
</div>